<form action="/entorno" method="post">
	<label>Compañía</label>
		<input type="text" id="compania" name="compania"/>
	<label>Nombre del Entorno</label>
		<input type="text" id="nombre" name="nombre"/>		
	<label>BD Servidor:Puerto</label>
		<input type="text" id="bd" name="bd"/>
	<label>Directorio SVN</label>
		<input type="text" id="svn" name="svn"/>
	<label>Url y passwords</label>
		<input type="text" id="url" name="url"/>
	
	<input type="submit" value="Agregar Nuevo"/>
</form>